:root {
    --gap-size: 32px;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, 'Trebuchet MS', Roboto,
    Ubuntu, sans-serif;
    color: #000;
}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    width: 100%;
    padding: 0 calc(var(--gap-size) * 0.5);
    max-width: 92%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--gap-size);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #030812;
}

header, footer {
    display: flex;
    width: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    gap: 12px;
}

header {
    justify-content: space-between;
    padding: 0 var(--gap-size);
    gap: calc(var(--gap-size) * 2);
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 6px 0;
    flex-direction: row;
}

header #site-logo {
    font-weight: 600;
    font-size: 32px;
    padding: 16px;
    background: var(
        --18-promo-gradient-02,
        linear-gradient(90deg, hwb(191 0% 10%) 0%, #2962ff 100%)
    );
   -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

header input[type='search'] {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: var(
        --18-promo-gradient-02,
        linear-gradient(90deg, #fefefe 0%, #bfbfbf 100%));
}

.span-two-collumns, #symbol-info, #advanced-chart, #company-profile, #fundamental-data {
    grid-column: span 2;
}
.span-one-column, #technical-analysis, #top-stories, #empty {
    grid-column: span 1;
}
.skeleton, #company-profile, #fundamental-data, #technical-analysis, #top-stories {
    text-align: center;
    padding: 16px;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.075);
    border-radius: 4px;
}

#ticker-tape {
    width: 100%;
    margin-bottom: var(--gap-size);
}

#advanced-chart {
    height: 500px;
}

#company-profile {
    height: 390px;
}

#fundamental-data {
    height: 490px;
}

#technical-analysis, #top-stories {
    height: 425px;
}

@media (max-width: 2000px) {
    main > section,
    .span-two-collumns, #technical-analysis, #top-stories{
        grid-column: span 1;
    }

}

#blue-text{
    color: white;
}

.text-box-content{
    position: sticky;
    top: 30px;
    background-color: rgb(104, 104, 104);
    color: white;
    height: 70%;
    font-size: 18px;
    grid-column: 3;
    grid-row: 1 / 4;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    }

    .text-editor-header {
        background-color: #343849;
        padding: 5px;
        width: 100%;
        height: 35px;
        border: 1px solid rgb(63, 63, 63);
    }

    .text-editor-header .btn {
        border: none;
        outline: none;
        background-color: transparent;
        margin-right: 2px;
        cursor: pointer;
        font-size: 18px;
    }
    
    
    .btn:hover {
        background-color: rgb(103, 107, 115);
    }
    
    .btn:active {
        background-color: rgb(69, 69, 73)
    }
    
    
    .textbox{
        min-height: 100%;
        border: 1px solid rgb(63, 63, 63);
        border-top: 0px;
        padding: 20px;
        background-color:rgb(23,27,38);
        color: white;
        font-size: 18px;
        font-weight: 200;
    }

    /*background-color: #1F222D);